{% extends 'accounts/main.html' %}
{% load static %}

<br>
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <p>Are you sure you want to delete {{ order }}</p>
            <form action="{% url 'delete_order' order.id %}" action="POST">
                {% csrf_token %}
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
                <input type="submit" name="Confirm" id="" class="btn btn-danger">
            </form>
        </div>
    </div>
{% endblock content %}